{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{random1.name}}</span></h2>
								<p>{{random1.description}} for only {{random1.price}}</p>
								<a href="{{ path('menu') }}" class="site-btn">Go To Menu</a>
								<a href="#" class="site-btn sb-c2">Order Now</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('images/' ~ random1.image)}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{random2.name}}</span></h2>
								<p>{{random2.description}} for only {{random2.price}}</p>
								<a href="{{ path('menu') }}" class="site-btn">Go To Menu</a>
								<a href="#" class="site-btn sb-c2">Order Now</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('images/' ~ random2.image)}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
